<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
        <uib-accordion>
            <uib-accordion-group is-open="category.status.open" ng-repeat="category in categories.values">
                <uib-accordion-heading>
                    {{category.title}}
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': category.status.open, 'glyphicon-chevron-right': !category.status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>
